---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About Yaso Blog';

// My identity
const identity = {
    name: 'Yasin Alhadi',
    country: 'Sudan',
    role: 'Software Engineer',
    blog: 'Yaso Blog',
    description: 'This is a simple blog built with Astro.',
    interests: ['Web Development', 'Programming', 'Technology', 'technical writing'],
};

const happy = true;
const finished = true;
const goal = 4;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            .skills {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>

        <h2>This is my personal blog</h2>

        <p>
            Welcome to Yaso Bolg! This is a simple blog built with Astro.
        </p>

        <h2>My Identity</h2>

        <p>
            My name is {identity.name}. I am form {identity.country}. I am a {identity.role}. I am the owner of {identity.blog}.
        </p>

        <h2>My Interests</h2>

        <ul>
            {identity.interests.map((interest) => (
                <li class="skills">{interest}</li>
            ))}
        </ul>

        {happy && (
            <p>Im Happy</p>
        )}

        {finished && (
            <p>Im not finished yet</p>
        )}

        {goal === 4 ? (
            <p>My goal is to write 3 articles</p>
        ) : (
            <p>My goal is to write more than 3 articles</p>
        )}

</BaseLayout>